/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
h1 {
    position: absolute;
    left: 66%;
    top: 0%;
   // right: 50%;
}

h2 {
    position: absolute;
    left: 66%;
    top: 0;
   // right: 50%;

}
body {
    background-color: LightGoldenRodYellow;
  }
